{% extends "base.html" %}
{% block title %}Iniciar Sesión - Mi Voto 2.0{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow border-0 rounded-lg">
            <div class="card-header bg-white text-center py-4 border-0">
                <h3 class="mb-0 fw-bold text-primary"><i class="fa-solid fa-lock me-2"></i>Acceso al Sistema</h3>
                <p class="text-muted small mb-0 mt-2">Por favor, ingresa tus credenciales</p>
            </div>
            <div class="card-body p-4 pt-2">
                <!-- Usando HTMX para hacer un post sin recarga. Reemplazará el main-content si hay error -->
                <form hx-post="{{ url_for('auth.login') }}" hx-target="body" hx-push-url="true">
                    
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Nombre de usuario" required autofocus>
                        <label for="username"><i class="fa-solid fa-user text-muted me-2"></i>Usuario</label>
                    </div>
                    
                    <div class="form-floating mb-4">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required>
                        <label for="password"><i class="fa-solid fa-key text-muted me-2"></i>Contraseña</label>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-lg fw-bold">
                            Ingresar <span class="htmx-indicator spinner-border spinner-border-sm ms-2" role="status" aria-hidden="true"></span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center py-3 bg-light border-0 rounded-bottom">
                <a href="#" class="small text-decoration-none">¿Olvidaste tu contraseña?</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}